.header {
    background-color: #393939;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
  
    
   
   }
  
   
   .logo {
    color: #ffff;
   
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding: 15px;
    margin-left: 10px;
    font-size: x-large;
       
      
      
       
   }

   .navbar-section{

    background-color: #393939;
   }


   .link {
    text-decoration: none;
    color:white;
}
.link:visited{
    text-decoration: none;
    color:white;
}

.line {
    height: 1px;
    background-color: #ffff;
}
   
   
    
  
   
      