.ask-button{
    
    margin-right: 0%;
    margin-top: 30px;
    background-color: #378ad3;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    
}

.qlist-header{
    margin-top:20px;
    color:rgb(172, 169, 169);

}

.question-section {
    background-color: rgba(255,255,255,.1);
    
}


.question-link{
    text-decoration: none;
    color : #9cc3db;
    font-size:1.1rem;

} 

.question-list{
    background-color: rgb(48, 46, 46);
}

.header {
    background-color: #393939;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
    
    
    
   
   }
 


   
   .logo {
    color: #ffff;
   
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding: 15px;
    margin-left: 10px;
    font-size: x-large;
       
      
      
       
   }

   .navbar-section{

    background-color: #393939;
   }
   
   
    

    .search-box{
        width: 100%;
        background: rgba(0,0,0,.1);
        border:1px solid #777;
        padding: 10px 10px;
        margin-top: 7px;
        border-radius: 3px;
       
        box-sizing: border-box;
        margin-bottom: 7px;
        color:white;
    }
   
    
   

